/*--- BASIC STYLES ---*/
html {
  font-size: 62.5%;
  overflow-y: scroll;
}

body {
  background-color: #fff;
  color: #070707;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/* headings */
h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 4.7rem;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  line-height: 1.7;
  font-weight: 600;
}

h3 {
  font-family: 'Abril Fatface', cursive;
  font-size: 3.3rem;
  line-height: 1.2;
}

h4 {
  font-size: 1.8rem;
  line-height: 1.7;
  font-weight: 600;
}

/*--- paragraphs, lists and links ---*/
p,
li,
a {
  font-size: 1.8rem;
  line-height: 1.7;
}

a {
  color: #070707;
  cursor: pointer;
  text-decoration: none;
}

small {
  font-size: 1.4rem;
}

/* buttons */
.my-button {
  background-color: #fff;
  border: 3px solid #070707;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  padding: 1.5rem 2rem;
}

.my-button:focus {
  border-style: dotted;
  outline: none;
}

/*--- highlights and quotations ---*/
strong {
  font-weight: 600;
}

q {
  font-style: italic;
  quotes: '"' '"' "'" "'";
  position: relative;
}
q::before {
  content: open-quote;
  left: -.5em;
  position: absolute;
}
q::after {
  content: close-quote;
}

/*--- images ---*/
.image {
  overflow: hidden;
  width: 100%;
}

.image img {
  height: auto;
  width: 100%;
}

/*--- C O N T E N T ---*/
/* h o m e */
.home {
  background-color: #FFE300;
  -webkit-animation: colorLoop 25s infinite;
  -moz-animation: colorLoop 25s infinite;
  animation: colorLoop 25s infinite;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  width: 100%;
}

@-webkit-keyframes colorLoop {
  0% { background-color: #FFE300; }
  50% { background-color: #00C4FF; }
  100% { background-color: #FFE300; }
}

@-moz-keyframes colorLoop {
  0% { background-color: #FFE300; }
  50% { background-color: #00C4FF; }
  100% { background-color: #FFE300; }
}

@keyframes colorLoop {
  0% { background-color: #FFE300; }
  50% { background-color: #00C4FF; }
  100% { background-color: #FFE300; }
}

.illustration {
  -webkit-align-self: center;
  align-self: center;
  position: relative;
}

.illustration span {
  display: block;
  height: 50vh;
  width: 50vh;
}

.illustration span::after {
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 80%;
  width: 100%;
}

.question {
  height: 55vh;
  position: absolute;
  right: 5%;
  top: 0;
}

.question img {
  height: 100%;
}

.intro-text {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-bottom: 5em;
  position: relative;
}

.main-heading-home {
  margin-bottom: .3em;
}

/* m a i n - m e n u */
.navigation {
  background-color: rgba(255, 255, 255, .99);
  height: 5rem;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.menu {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  left: 50%;
  margin-left: -110px;
  margin-top: 1em;
  position: absolute;
  width: 220px;
}

.menu li a {
  font-weight: 600;
  padding: 0 .5em;
  position: relative;
}

.menu li.active > a::before,
.menu li.active > a::before,
.menu li.active > a::before {
  bottom: -7px;
  content: '';
  display: block;
  height: 16px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

/* LAYOUT */
.about,
.main,
.work,
.article-content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.about,
.work,
.article-content {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.main,
.work,
.article-content {
  margin: 0 1.5rem 0 1.5rem;
}

.main,
.work-title {
  padding-top: 10em;
}

/* a b o u t */
.about {
  background: url('assets/bg.svg') repeat;
  height: 100vh;
  position: relative;
}

.main-text {
  margin-bottom: 3em;
}

.main-text p:last-of-type {
  margin-bottom: 0;
}

.side-text-main {
  line-height: .5;
  margin-bottom: 3em;
  margin-left: 15rem;
}

.text {
  margin-bottom: 1em;
}

.text-center {
  text-align: center;
}

.primary-button {
  -webkit-align-self: center;
  align-self: center;
  border-color: #00C4FF;
  margin-top: 1em;
  width: 100%;
}

.retro-logo {
  bottom: 3em;
  cursor: not-allowed;
  display: none;
  position: absolute;
  right: 3em;
  width: 90px;
}

.retro-logo img {
  width: 100%;
}

/* w o r k */
.work-title {
  text-align: center;
}

.cases {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-top: 3em;
}

.cases li {
  border: 3px solid #fff;
}

.cases p {
  text-align: center;
}

.cases small {
  display: block;
  line-height: 1;
  padding-bottom: .5em;
  text-align: center;
}

/* f o o t e r */
.footer {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: .5em;
}

.logo {
  margin-bottom: 1em;
  width: 42px;
}

.links {
  display: -webkit-flex;
  display: flex;
}

.links li {
  margin-right: .5em;
  position: relative;
}

.links li::after {
  content: '/';
  right: -.7rem;
  position: absolute;
}

.links li:last-child {
  margin-right: 0;
}

.links li:last-child::after {
  content: none;
}

/* CASE STUDIES */
/* c a s e s  n a v */
.go-back a {
  display: block;
  height: 35px;
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  width: 35px;
  z-index: 99;
}

.go-back span {
  display: block;
  height: 100%;
  width: 100%;
}

.go-back span::before,
.go-back span::after {
  background-color: #171717;
  bottom: 15px;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  right: -6px;
  width: 48px;
}

.go-back span::before {
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.go-back span::after {
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

/* c a s e s */
.article {
  padding-top: 20em;
}

.article-title {
  align-items: center;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.heading-case {
  padding: 0 1.5rem;
}

.subheading-case {
  padding: 0 1.5rem 4em;
  text-align: center;
}

.article-heading {
  padding: 2em 0 1em;
}

.article-image {
  margin: 5em 1.5rem 10em;
  width: calc(100% - 3rem);
}

/* small screen portrait fix */
@media (min-width: 300px) and (min-height: 400px) and (max-width: 600px) and (max-height: 900px) and (orientation: portrait) {
/* a b o u t small-portrait*/
  .about {
    height: auto;
  }

/* f o o t e r small-portrait */
  .footer {
    margin-top: 5em;
  }
}

/* small screen xl portrait fix */
@media (min-height: 750px) and (max-height: 900px) and (orientation: portrait) {
/* h o m e small-xl */
  .illustration span {
    height: 90vw;
    width: 90vw;
  }

  .illustration span::after {
    top: 100%;
  }

  .question {
    right: 0;
  }
}

/* small screen landscape fix */
@media (min-width: 400px) and (max-width: 900px) and (orientation: landscape) {
/* h o m e small-landscape */
  .illustration {
    display: none;
  }

  .intro-text {
    margin-bottom: 0;
  }

/* a b o u t small-landscape */
  .about {
    height: auto;
  }

/* f o o t e r small-landscape */
  .footer {
    margin-top: 5em;
  }
}

/* tablet small portrait fix */
@media (min-width: 576px) and (max-width: 1200px) and (orientation: portrait) {
/* h o m e tablet-small-portrait */
  .illustration span {
    height: 50vw;
    width: 50vw;
  }

  .illustration span::after {
    top: 110%;
  }

  .question {
    right: -7%;
  }
}

/* tablet large portrait fix */
@media (min-width: 700px) and (max-width: 900px) and (min-height: 1200px) and (orientation: portrait) {
/* h o m e tablet-large-portrait */
  .illustration span {
    height: 55vw;
    width: 55vw;
  }

  .illustration span::after {
    top: 130%;
  }

  .question {
    right: -20%;
  }
}

/* 6 0 0 */
@media (min-width: 600px) {
/* LAYOUT 600 */
  .main,
  .work,
  .article-content {
    margin-left: 9rem;
    margin-right: 9rem;
  }

/* m a i n - m e n u 600 */
  .menu {
    width: 270px;
    margin-left: -135px;
  }

/* a b o u t 600 */
  .side-text-main {
    line-height: .5;
  }

  .primary-button {
    width: 300px;
  }

  .retro-logo {
    display: block;
  }

/* w o r k 600 */
  .cases {
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  .cases li:first-child {
    margin-right: 3rem;
  }

/* f o o t e r 600 */
  .footer {
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  .logo {
    margin-bottom: 0;
    margin-right: 2em;
  }
}

/* 9 0 0 */
@media (min-width: 900px) {
/* h o m e 900 */
  .main-heading {
    font-size: 7rem;
    text-align: center;
  }

/* LAYOUT 900 */
  .main,
  .work,
  .article-content {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
  }

  .cases li:first-child {
    margin-right: 5rem;
  }

/* a b o u t 900 */
  .subheading {
    text-align: center;
  }

  .side-text-main {
    margin-left: 35.7rem;
  }

  .retro-logo {
    bottom: 3.5em;
    width: 120px;
  }

/* CASE STUDIES 900 */
/* c a s e s  n a v 900 */
  .go-back a {
    height: 70px;
    width: 70px;
  }

  .go-back span::before,
  .go-back span::after {
    bottom: 32px;
    height: 6px;
    right: -12px;
    width: 94px;
  }

  .article-image {
    margin-left: 9rem;
    margin-right: 9rem;
    width: calc(100% - 18rem);
  }
}

/* 1 2 0 0 */
@media (min-width: 1200px) {
/* h o m e 1200 */
  .illustration span {
    height: 57vh;
    width: 57vh;
  }

  .illustration span::after {
    top: 60%;
  }

  .question {
    right: 11%;
  }

  .my-button:hover {
    color: #fff;
    background-color: #070707;
  }

/* a b o u t 1200 */
  .primary-button:hover {
    color: #fff;
    background-color: #00C4FF;
  }

  .cases li:first-child {
    margin-right: 7rem;
  }

  .cases li:hover {
    border-color: #00C4FF;
  }

/* LAYOUT 1200 */
  .work {
    width: 800px;
  }
}
